* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: inherit; /* Arka plan rengi */
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Videoyu arka planda tutmak için */
}

.content {
  z-index: 1; /* Diğer içerikleri videoyun önüne getirmek için */
  color: inherit;
  text-align: center;
}

.img-container {
  position: relative;
  position: absolute;
  bottom: 0;
  background-color: inherit;
}

.container {
  position: absolute;
  width: 305px;
  height: 520px;
  top: 200px;
  left: 360px;
}

.icons {
  font-size: 0.8rem;
  margin: 5px 5px 15px 5px;
}

ul {
  overflow: auto;
  height: 340px;
}

ul::-webkit-scrollbar {
  width: 10px; /* Kaydırma çubuğu genişliği */
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1; /* Kaydırma çubuğu arka plan rengi */
}

ul::-webkit-scrollbar-thumb {
  background: #c4c3c3; /* Kaydırma çubuğu rengi */
  border-radius: 5px; /* Kaydırma çubuğu köşelerini yuvarla */
}

ul::-webkit-scrollbar-thumb:hover {
  background: #919191; /* Fare üzerine geldiğinde kaydırma çubuğu rengi */
}

ul li {
  height: 316px;
}

input:focus {
  outline: none;
}

.city-temperature {
  position: relative;
}

.city-temperature > .temperature {
  font-size: 5rem;
}

.city-temperature > .unit {
  font-size: smaller;
  font-weight: lighter;
  font-size: 3rem;
}
