* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: inherit;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.content {
  z-index: 1;
  color: inherit;
  text-align: center;
}

.img-container {
  position: relative;
  position: absolute;
  bottom: 0;
  background-color: inherit;
}

.container {
  position: absolute;
  width: 305px;
  height: 520px;
  top: 200px;
  left: 360px;
}

.icons {
  font-size: 0.8rem;
  margin: 5px 5px 15px 5px;
}

ul {
  overflow: auto;
  height: 340px;
}

.city-info {
  overflow: hidden;
}

.city-info > h2 {
  max-height: 50px;
  max-width: 70%;
  overflow: auto;
  word-wrap: break-word;
  font-size: 2vw;
}

.city-info > h2::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.city-info > h2::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #f0f0f0,
    #d9d9d9
  ); /* Linear gradient ile arka plan rengi */
}

.city-info > h2::-webkit-scrollbar-thumb {
  background: #866503;
  border-radius: 5px;
}

.city-info > h2::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    #e7b521,
    #e6c561
  ); /* Linear gradient ile arka plan rengi */
  border-radius: 5px;
}

ul::-webkit-scrollbar-thumb {
  background: #c4c3c3;
  border-radius: 5px;
}

ul::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

ul li {
  height: 316px;
}

input:focus {
  outline: none;
}

.city-temperature {
  position: relative;
}

.city-temperature > .temperature {
  font-size: 5rem;
}

.city-temperature > .unit {
  font-size: smaller;
  font-weight: lighter;
  font-size: 3rem;
}
