* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-container {
  position: relative;
  position: absolute;
  bottom: 0;
}

.container {
  position: absolute;
  width: 305px;
  height: 515px;
  top: 200px;
  left: 360px;
}
.icons {
  font-size: 0.8rem;
  margin: 5px 5px 15px 5px;
}

ul {
  overflow: auto;
}
